.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 20px 0 20px 0;
}

.intro {
  text-align: left;
}

.town{
  width: 25%;
}
.contact-message {
  width: 50%;
  margin: 40px auto 60px;
}

.profile {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.profile-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.personal-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

/* clear float
.personal-description {
  clear: left;
}
*/
.idea-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  color: #40514E;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 400px;
}

.copyright {
  display: inline-block;
}

.icons {
  display: inline-block;
}

.footer-link {
  margin: 20px 10px;
}

.reference {
  display: inline-block;
  padding: 20px 50px 0 50px;
  color: #EAF6F6;
  font-size: 0.75rem;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 1.17rem;
  font-weight: normal;
  padding: 20px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-shadow: none;
  border: solid none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: none;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
